@font-face {
    font-family: 'iconfont';
    src: url('../font1/iconfont.ttf') format('truetype');
  }
@font-face {
    font-family: 'iconfont';
    src: url('../font2/iconfont.ttf') format('truetype');
  }
.iconfont1 {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
.iconfont2 {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }